# Whitelist: everything is ignored except the files listed below.
# A new file only gets tracked after adding a "!" line for it here.
*

!/.gitignore
!/LICENSE
!/README.md
!/thbtalk.sty
!/demo.tex
!/demo.pdf

!/test/
!/test/build_demo.py
!/test/check.py
!/test/coverage.tex
!/test/logo.png
!/test/photo.png
!/test/design.tex
!/test/design_check.py
!/test/stripes.png

!/design/
!/design/thbtalk-preview.html
!/design/deck-stage.js
!/design/support.js
